:root {
  --visited-selected: #444444;
  --grey: #797979;
  --pink: #ec7b85;
  --blue: #83D1E0;
  --white: #ffffff;
  --black: #000000;
}

/* work this out */
@media (prefers-color-scheme: dark) {
  :root {
    /* --visited-selected: #fefefe; */
    /* --grey: #929292; */
    /* --pink: #ec7b85; */
    /* --white: #797979; */
    /* background-color: #202020; */
  }

  .social-link:hover, .social-link:focus {
  }
}

:focus {
  outline: 3px solid var(--pink);
  outline-offset: 6px;
  border-radius: 8px;
}

html {
  height: 100vh;
  width: 100vw;

  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  line-height: 1.50;
  color: var(--grey);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 70vw;
  max-width: 550px;
}

footer {
  color: val();
  font-size: .5rem;
}

h1, h2 {
  margin: .4rem 0 .1rem 0;
}

h3 {
  margin: .2rem 0 .1rem 0;
}

p {
  margin: .25rem 0 .1rem 0;
}

a {
  color: var(--grey);
}

a:visited {
  /* color: var(--blue) */
}

a:hover, a:focus {
  color: var(--pink)
}

#logo {
  width: 30vw;
  max-width: 250px;
}

.social-links {
  margin-top: 1rem;
}

.pi-info {
  position: fixed;
  bottom: 0px;
  left: 0px;
  min-width: 100px;
  margin: 1rem;
}
